body {
	font-family: 'Roboto', sans-serif; 
	font-size: 1em; 
	margin: 0; 
	padding: 0;  
}

.imagen img{
    width:70%;
}

.col_der{
    position:absolute;
    top:0;
    left:10%; 
    width:90%;
    height:100%;
}

.col_izq{
	position:absolute;
	top:0;
	left:0;  
	width:10%;
	height:100%;
    background-color:#00435f;
    color: #ffffff;
}